qatime-studio.opensdf
Release/
Debug/
qatime-studio.v12.suo
qatime-studio.sdf
qatime-studio/GeneratedFiles/
qatime-studio/log/*.log
qatime-studio/qatime-studio.vcxproj.user
*.log
qatime-studio/cat.gif
qatime-studio/config.ini
qatime-studio/config.ini
qatime-studio/qgifd.dll
