Debug/
Release/
GeneratedFiles/
log/
qatime-studio.opensdf
qatime-studio.sdf
qatime-studio.v12.suo
qatime-studio/qatime-studio.vcxproj.user
qatime-studio/win_video.exe
themes/
qatime-studio/Bin/Release.rar
qatime-studio/Bin/Release029.rar
qatime-studio/Bin/Bin0.6.1.1.zip
qatime-studio/log.txt
qatime-studio/Bin/Release0.7.1.0.rar
qatime-studio/Bin/Debug0.7.0.2.rar
qatime-studio/Bin/Debug0.7.0.3.rar
qatime-studio/Bin/Debug0.7.1.0.rar
qatime-studio/Bin/Release0.7.0.4.zip
qatime-studio/Bin/Release0.7.0.5.zip
